<h3>スワローズインフォ！</h3>
<h5>最近のヤクルトスワローズをあまり知らない１ファンが作った、ヤクルトスワローズの情報整理のためのサイト！</h5>


<div class="menu">
    <div>
        <div><%= link_to 'ランキング', records_path %></div>
        <div>まずは有名選手を抑えておこう！</div>
    </div>
    <div>
        <div><%= link_to '選手一覧',  players_path %></div>
        <div>選手の情報を頭に入れておこう！実装途中だよ！！</div>
    </div>
    <div>
        <div>クイズ</div>
        <div>読むだけだと忘れちゃうかも！クイズで確認しておこう！未実装だよ！！</div>
    </div>
    <div>
        <div>観戦モード</div>
        <div>試合観戦するならこれを抑えておこう！未実装だよ！！</div>
    </div>
    <div>
        <div>ニュース</div>
        <div>選手の最新情報を抑えておこう！未実装だよ！！</div>
    </div>
</div>

